@charset "UTF-8";
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.inner {
  padding: 0 15px;
}

.sp-hide {
  display: block;
}
@media screen and (min-width: 768px) {
  .sp-hide {
    display: none;
  }
}

.header {
  position: fixed;
  width: 100%;
}

.header-menu__inner {
  padding-top: 29px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .header-menu__inner {
    display: flex; /* 横並びにする */
    justify-content: space-between; /* 左右に分ける */
    align-items: center; /* 上下中央揃え */
    padding-left: 20px; /* 左右の余白（必要に応じて調整） */
    padding-top: 0;
  }
}

.header__logo img {
  height: 22px;
}
@media screen and (min-width: 768px) {
  .header__logo img {
    height: 30px; /* ロゴのサイズを調整 */
  }
}

@media screen and (min-width: 768px) {
  .header__nav-lists {
    display: flex; /* ナビを横並びに */
    gap: 70px; /* リンクの間隔 */
    list-style: none; /* リストマーカーを消す */
    margin: 0;
    padding: 0;
    align-items: center;
  }
}

.header__nav-list {
  list-style: none;
}

.header__nav-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    color: #333;
    font-weight: bold;
    display: block;
  }
}

.header__nav-button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-button {
    display: block;
    background: #F14E53;
    padding: 28px 24px;
    color: #fff;
  }
}

.hamburger {
  position: fixed;
  top: 19px;
  right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.3s ease;
}
.hamburger .bar {
  width: 25px;
  height: 16px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
  background: #fff;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  background: #fff;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #202F43;
  z-index: 1000;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
}
.drawer-menu.active {
  right: 0;
}
@media screen and (min-width: 768px) {
  .drawer-menu {
    display: none;
  }
}

.drawer-menu-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  position: relative;
  top: 26%;
  overflow: scroll;
  height: 100vh;
}

.drawer-menu-link {
  color: #fff;
  position: relative;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
}
.drawer-menu-link::after {
  content: "";
  position: absolute;
  left: -81px;
  bottom: -25px;
  width: 200px;
  height: 1px;
  background-color: #868686;
}

.drawer-menu-button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #F14E53;
  margin-top: 27px;
}

.fv {
  height: 688.669px;
  flex-shrink: 0;
  background: url(/image/sp/fv-bg1.jpg) no-repeat center center/cover;
}
@media screen and (min-width: 768px) {
  .fv {
    background: url(/image/pc/FV-bg.jpg) no-repeat center center/cover;
    height: 100vh;
  }
}

.fv__inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 40%;
}

.fv-image img {
  width: 65%;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
}

.fv-title {
  color: #FFF;
  font-family: "Noto Sans JP";
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .fv-title {
    font-size: 42px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 2.1px;
  }
}
.fv-title span:nth-of-type(1) {
  color: #F14E53;
  font-size: 38px;
  line-height: 42px; /* 110.526% */
  letter-spacing: 1.9px;
}
@media screen and (min-width: 768px) {
  .fv-title span:nth-of-type(1) {
    font-size: 60px;
    line-height: 66px; /* 110% */
    letter-spacing: 3px;
  }
}
.fv-title span:nth-of-type(2) {
  color: #3FA9F5;
  font-size: 38px;
}
@media screen and (min-width: 768px) {
  .fv-title span:nth-of-type(2) {
    font-size: 60px;
    line-height: 66px; /* 110% */
    letter-spacing: 3px;
  }
}

.section__inner {
  margin: 100px 15px;
}

.section-title {
  color: #141414;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.8px;
}

.section-subtitle {
  color: #F14E53;
  font-family: "Noto Sans JP";
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .about__inner {
    max-width: 1030px;
    margin-inline: auto;
    padding-inline: 16px;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.about-text {
  margin-top: 26px;
  color: #141414;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 500;
  line-height: 38px; /* 190% */
  letter-spacing: 1px;
}

.about-subtext {
  margin-top: 26px;
  color: #141414;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 500;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.7px;
}

.about__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
  }
}
.about__image img {
  width: 460px;
  height: 320px;
  flex-shrink: 0;
}
/*# sourceMappingURL=style.css.map */